.center {
    max-width: 1200px;
    margin: auto;
    height: 50px;
    font-family: 'Roboto Mono', monospace;

    .title {
        float: left;
        margin: 20px 0px 10px 0px;
        font-size: 30px;
    }

    .right {
        float: right;
        padding: 20px 0px 0px 10px;
        font-size: 24px;
    }
}